@import "tailwindcss";
@plugin "daisyui"{
  themes:light, dark, cupcake, bumblebee, emerald, corporate, synthwave, retro, cyberpunk, valentine, halloween, garden, forest, aqua, lofi, pastel, fantasy, wireframe, black, luxury, dracula, cmyk, autumn, business, acid, lemonade, night, coffee, winter, dim, nord, sunset, caramellatte,abyss, silk
}
/* , dark --prefersdark */

html, body {
  overflow-x: hidden; /* Essesntial to disable horizontal overflow while dragging the card. This keeps the page still while we swipe the card, no matter how far we pull it */
}
/* 
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: oklch(var(--bc) / 0.2);
  border-radius: 2px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: oklch(var(--bc) / 0.3);
}

/* Mobile scrollbar */
@media (max-width: 640px) {
  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
  }
}